* {
    box-sizing: border-box;
    outline: none;
}

html {
    font: 1em 'Lato', serif;
}

html, head, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1d2020;
    color: #fff;
    height: 100px;
}

header h1 {
    font-size: 1.3em;
    height: 100px;
    line-height: 100px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-shadow: 3px 3px 3px #090C0C;
}

header img {
    float: left;
    margin-left: 5px;
    width: 100px;
}

main {
    margin: 5px;
}

#current-odds {
    -webkit-transform: translate3d(0,0,0);
    background-color: #069;
    border-radius: 3px;
    color: #fff;
    font: 4em 'Roboto Mono', monospace;
    text-align: center;
}

@media only screen and (max-width: 325px) {
 #current-odds {
     font-size: 3em;
 }
}

table {
    border-spacing: 2px;
    width: 100%;
}
table td {
    background-color: #f3f3f3;
    padding: 2px 5px;
}
td.rank, td.count, td.perc {
    white-space: nowrap;
}
td.rank {
    text-align: center;
}
td.username {
    width: 100%;
}
td.count, td.perc {
    text-align: right;
}
td.perc {
    color: #999;
}

#statistics table td:first-child {
    font-weight: bold;
    white-space: nowrap;
}

#statistics table td:nth-child(2) {
    width: 100%;
}

#updates p {
    background-color: #ddd;
    margin: 2px 0 0 0;
    padding: 5px;
}
#updates p:first-child {
    margin-top: 0;
}
#updates p.even {
    background-color: #f3f3f3;
}
#updates p.won {
    background-color: gold;
    color: #000;
}
#updates .datetime {
    color: #666;
    display: block;
    font-size: 0.8em;
}
#updates .message {
    display: block;
}

a.username {
    color: #069;
    font-weight: bold;
}
a.username-tj-klima {
    color: #59ba45;
}
a.username-donny-peters {
    color: #d54742;
}
a.username-patrick-smith {
    color: #a6aa41;
}
a.username-chris-cole {
    color: #7842c4;
}
a.username-phil {
    color: #67b38a;
}
a.username-spo {
    color: #d04daf;
}
a.username-brett-loschiavo {
    color: #5a9aba;
}
a.username-tom-peters {
    color: #cc8c4c;
}
a.username-garrett {
    color: #7477c4;
}
a.username-george-smilanich {
    color: #4c6431;
}
a.username-tom-maeds {
    color: #683464;
}
a.username-waah {
    color: #7f3e2e;
}
a.username-darren-snieszko {
    color: #d0819d;
}
a.username-stefan-vujcic {
    color: #069;
}
a.username-mike-smilanich {
    color: #000;
}

[class^="vis-username-"], [class^="vis-team-"] {
    stroke-width: 3px;
}
.vis-username-tj-klima {
    color: #59ba45;
    fill: #59ba45;
    stroke: #59ba45;
    fill-opacity: 0;
}
.vis-username-donny-peters {
    color: #d54742;
    fill: #d54742;
    stroke: #d54742;
    fill-opacity: 0;
}
.vis-username-patrick-smith {
    color: #a6aa41;
    fill: #a6aa41;
    stroke: #a6aa41;
    fill-opacity: 0;
}
.vis-username-chris-cole {
    color: #7842c4;
    fill: #7842c4;
    stroke: #7842c4;
    fill-opacity: 0;
}
.vis-username-phil {
    color: #67b38a;
    fill: #67b38a;
    stroke: #67b38a;
    fill-opacity: 0;
}
.vis-username-spo {
    color: #d04daf;
    fill: #d04daf;
    stroke: #d04daf;
    fill-opacity: 0;
}
.vis-username-brett-loschiavo {
    color: #5a9aba;
    fill: #5a9aba;
    stroke: #5a9aba;
    fill-opacity: 0;
}
.vis-username-tom-peters {
    color: #cc8c4c;
    fill: #cc8c4c;
    stroke: #cc8c4c;
    fill-opacity: 0;
}
.vis-username-garrett {
    color: #7477c4;
    fill: #7477c4;
    stroke: #7477c4;
    fill-opacity: 0;
}
.vis-username-george-smilanich {
    color: #4c6431;
    fill: #4c6431;
    stroke: #4c6431;
    fill-opacity: 0;
}
.vis-username-tom-maeds {
    color: #683464;
    fill: #683464;
    stroke: #683464;
    fill-opacity: 0;
}
.vis-username-waah {
    color: #7f3e2e;
    fill: #7f3e2e;
    stroke: #7f3e2e;
    fill-opacity: 0;
}
.vis-username-darren-snieszko {
    color: #d0819d;
    fill: #d0819d;
    stroke: #d0819d;
    fill-opacity: 0;
}
.vis-username-stefan-vujcic {
    color: #09c;
    fill: #09c;
    stroke: #09c;
    fill-opacity: 0;
}
.vis-username-mike-smilanich {
    color: #000;
    fill: #000;
    stroke: #000;
    fill-opacity: 0;
}
.vis-username-the-world {
    color: #000;
    fill: #000;
    fill-opacity: 0;
    stroke: #000;
}

footer {
    color: #999;
    font-size: 0.8em;
    text-align: center;
}

#modal-screen {
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#modal {
    background-color: #fff;
    border-radius: 3px;
    display: none;
    left: 15px;
    padding: 10px;
    position: fixed;
    right: 15px;
    top: 15px;
}

#modal h2 {
    margin-top: 0;
}

#modal p.close {
    position: absolute;
    right: 10px;
    padding: 0;
    margin: 0;
    top: 10px;
}
#modal p.close a {
    color: #c10;
}
#modal td:first-child {
    white-space: nowrap;
    width: 1%;
}

#modal #graph {
    margin-top: 10px;
}

div.updates h2 {
    margin-bottom: 0;
}
p.show-graph {
    margin-top: 0;
}
p.show-graph a {
    color: #999;
    font-size: 0.8em;
}

@media only screen and (max-width: 799px) {
    #current-odds {
        width: 100%;
    }

    #current-odds.sticky {
        border-radius: 0;
        position: fixed;
        margin: 0 -5px 0 -5px;
        top: 0;
    }

    #modal {
        top: 50%;
        transform: translate(0, -50%);
    }
}

@media only screen and (min-width: 800px) {
    main {
        margin: 0 25px;
    }
    header img {
        margin-right: 15px;
    }
    header h1 {
        color: #fff;
        font-size: 3em;
        text-align: left;
    }

    #replace-div {
        display: none;
    }

    #current-odds {
        border-radius: 0;
        position: absolute;
        top: 0;
        height: 100px;
        line-height: 100px;
        padding: 0 25px;
        right: 0;
    }

    main:after {
        display: block;
        content: '';
        clear: both;
    }

    #statistics table {
        margin-top: -2px;
    }

    [class^="col-"] {
        float: left;
    }

    .col-1 {
        width: 33.33%;
    }

    .col-2 {
        padding-left: 25px;
        width: 66.67%;
    }

    #modal {
        top: 50%;
        left: 50%;
        bottom: auto;
        right: auto;
        transform: translate(-50%, -50%);
        width: 40%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1125px) {
    header h1 {
        font-size: 2.5em;
    }
}
